@mixin button-base {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 50px;
    padding: 0 var(--space-unit);
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border-radius: 9999px;
    border: 1px solid transparent;
    transition: all 0.12s var(--cubic-bezier);
    cursor: pointer;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        text-decoration: underline;
    }
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
    &::-moz-focus-inner {
        border: none;
    }
}

.button {
    &-primary,
    &-primary-light {
        @include button-base;
        color: var(--orange-text);
        background: var(--orange);
        &:active {
            background: var(--orange-active);
        }
        &:disabled {
            color: rgba(123, 78, 18, 0.5);
        }
    }
    &-secondary {
        @include button-base;
        background: rgba(0, 0, 0, 0.6);
        color: rgba(255, 255, 255, 0.75);
        &:active {
            background: rgba(0, 0, 0, 0.9);
            color: rgba(255, 255, 255, 0.9);
        }
        &:disabled {
            color: rgba(255, 255, 255, 0.5);
        }
        &-light {
            @include button-base;
            background: rgba(255, 255, 255, 0.6);
            color: rgba(0, 0, 0, 0.75);
            &:active {
                background: rgba(255, 255, 255, 0.9);
                color: rgba(0, 0, 0, 0.9);
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    &-tertiary {
        @include button-base;
        border-color: rgba(0, 0, 0, 0.6);
        color: rgba(0, 0, 0, 0.75);
        &:active {
            background: rgba(0, 0, 0, 0.1);
            color: rgba(0, 0, 0, 0.9);
        }
        &:disabled {
            color: rgba(0, 0, 0, 0.5);
        }
        &-light {
            @include button-base;
            border-color: rgba(255, 255, 255, 0.6);
            color: rgba(255, 255, 255, 0.75);
            &:active {
                background-color: rgba(0, 0, 0, 0.1);
                color: rgba(255, 255, 255, 0.9);
            }
            &:disabled {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
