:root {
    // Animation
    --cubic-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);

    // Spacing
    --space-unit: 1em;

    // Colors
    --black: #000000;
    --white: #ffffff;

    --gray-active: #000000;
    --gray-hover: #333333;
    --gray-dark: #333333;
    --gray: #666666;
    --gray-lighter: #bababa;
    --gray-lightest: #f4f4f4;

    --red-active: #66130e;
    --red-hover: #af2318;
    --red-text: #66130e;
    --red-dark: #af2318;
    --red: #e4463c;

    --blue-active: #9feef9;
    --blue-hover: #07d7f3;
    --blue-text: #0a5059;
    --blue: #01c4df;
    --blue-light: #9feef9;
    --blue-lightest: #d2faff;

    --orange-active: #fdf1d7;
    --orange-hover: #ffd092;
    --orange-text: #7b4e12;
    --orange: #ffc170;
    --orange-lightest: #fdf1d7;

    --green-active: #9bedd1;
    --green-hover: #3fdca6;
    --green-text: #075f41;
    --green: #30c592;
    --green-light: #9bedd1;
}

@supports (--css: variables) {
    :root {
        @media screen and (min-width: 760px) {
            --space-unit: 1.25em;
        }
    }
}
