em,
cite {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

q {
	quotes: '“''”''‘''’';
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Menlo, Consolas, monaco, monospace;
	font-size: 14px;
}

pre {
	background-color: #eeeeee;
	clear: both;
	display: block;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	@include font-size(15px);
	padding: 3px 10px;
	position: relative;
	top: -1px;
	border-radius: 3px;
	background-color: var(--gray-lightest);
}

abbr,
acronym {
	border-bottom: 1px dotted var(--gray-lighter);
	cursor: help;
}

ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

strike,
del {
	text-decoration: line-through;
}

p {
	@include font-size(16px);
	line-height: 23px;
	font-weight: 400;
	font-family: 'Libre Baskerville', serif;
	margin: 0 0 1em;
	color: var(--gray-dark);
}

.font-md {
	@include font-size(14px);
	font-weight: 400;
	line-height: 18px;
	font-family: 'Muli', sans-serif;
	color: var(--gray-dark);
}

label,
.label {
	display: block;
	@include font-size(16px);
	line-height: 20px;
	font-weight: 600;
	font-family: 'Muli', sans-serif;
	color: var(--gray-dark);
}

legend,
.legend {
	@include font-size(16px);
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	line-height: 20px;
	color: var(--black);
}

// Forms
input,
button,
select,
optgroup,
textarea,
table {
	color: var(--black);
}

input {
	font-weight: 400;
	@include font-size(14px);
}

::placeholder {
	@include font-size(14px);
	line-height: 18px;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	color: var(--gray);
}

div.text-is-error,
div.text-is-error-light {
	@include font-size(14px);
	font-weight: 400;
	line-height: 18px;
	font-family: 'Muli', sans-serif;
}

// Tables
th {
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	@include font-size(14px);
	line-height: 18px;
	color: var(--black);
}

td {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	@include font-size(14px);
	line-height: 18px;
	color: var(--gray-dark);
}