.headline {
    @include fluid-type(576px, 1200px, 48px, 48px);
    @include fluid-line-height(576px, 1200px, 38px, 40px, 54px);
    line-height: 54px;
    font-weight: 900;
    font-family: "Muli", sans-serif;
}

.subtitle {
    @include fluid-type(576px, 1200px, 24px, 24px);
    @include fluid-line-height(576px, 1200px, 25px, 26px, 30px);
    line-height: 30px;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
    color: var(--gray-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    margin: 0;
}

h1,
.h1 {
    @include fluid-type(576px, 1200px, 24px, 24px);
    font-weight: 900;
    line-height: 30px;
    font-family: "Muli", sans-serif;
}

h2,
.h2 {
    @include fluid-type(576px, 820px, 24px, 24px);
    font-weight: 700;
    line-height: 30px;
    font-family: "Muli", sans-serif;
}

h3,
.h3 {
    @include fluid-type(576px, 820px, 20px, 20px);
    font-weight: 700;
    line-height: 26px;
    font-family: "Muli", sans-serif;
}
